[defaults]
inventory           = hosts.yml
stdout_callback     = yaml
ask_vault_pass      = True

# Logging is off by default unless this path is defined.
#log_path = /var/log/ansible.log

# Use this shell for commands executed under sudo.
# you may need to change this to /bin/bash in rare instances
# if sudo is constrained.
#
#executable = /bin/sh

# If set, configures the path to the Vault password file as an alternative to
# specifying --vault-password-file on the command line. This can also be
# an executable script that returns the vault password to stdout.
#
#vault_password_file = /path/to/vault_password_file

# Controls showing custom stats at the end, off by default
#show_custom_stats = False

[privilege_escalation]
#become = False
#become_method = sudo
become_ask_pass = True

[ssh_connection]
scp_if_ssh = True

[colors]
#highlight = white
#verbose = blue
#warn = bright purple
#error = red
#debug = dark gray
#deprecate = purple
#skip = cyan
#unreachable = red
#ok = green
#changed = yellow
#diff_add = green
#diff_remove = red
#diff_lines = cyan
