- name: Update {{ inventory_hostname_short }}
  apt:
    update_cache  : yes
    upgrade       : yes
    autoclean     : yes
    autoremove    : yes
  become: yes

- name: Check reboot on {{ inventory_hostname_short }}
  stat:
    path: /var/run/reboot-required
  register: checkReboot

- name: Reboot {{ inventory_hostname_short }}
  reboot:
    msg: Rebooting {{ inventory_hostname_short }} due to kernel update
  when: checkReboot.stat.exists
  become: yes
